@mixin generate-color-utilities {
    .text-color-black {
        color: #000000;
    }

    .text-black {
        color: #000000;
    }

    .color-black {
        color: #000000;
    }

    .text-color-white {
        color: #FFFFFF;
    }

    .text-white {
        color: #FFFFFF;
    }

    .color-white {
        color: #FFFFFF;
    }

    .text-color-transparent {
        color: transparent;
    }

    .text-transparent {
        color: transparent;
    }

    .color-transparent {
        color: transparent;
    }

    @each $color, $values in $colors {
        @each $level, $hex in $values {
            .text-color-#{$color}-#{$level} {
                color: $hex;
            }

            .text-#{$color}-#{$level} {
                color: $hex;
            }

            .color-#{$color}-#{$level} {
                color: $hex;
            }
        }
    }
}

@include generate-color-utilities;