@mixin text-decoration-color-utilities {
    .text-decoration-color-black {
        text-decoration-color: #000000;
    }

    .decoration-black {
        text-decoration-color: #000000;
    }

    .text-decoration-color-white {
        text-decoration-color: #FFFFFF;
    }

    .decoration-white {
        text-decoration-color: #FFFFFF;
    }

    @each $color, $values in $colors {
        @each $level, $hex in $values {
            .text-decoration-color-#{$color}-#{$level} {
                text-decoration-color: $hex;
            }

            .decoration-#{$color}-#{$level} {
                text-decoration-color: $hex;
            }
        }
    }
}

@include text-decoration-color-utilities;